.post {
  margin-top: 1.5rem;
  min-width: 300px;
}
.post__header {
  display: flex;
  align-items: center;
}
.header-options {
  margin-left: auto;
}
.header-options-image {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.avatar-image {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.header-name {
  font-size: 14px;
}
.header-delete-post {
  margin-left: auto;
  color: red;
}
.post__title {
  margin-top: 1rem;
  width: auto;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
}
.post__title-h2 {
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
}
.post__img {
  max-width: 700px;
  margin: 0 auto;
}
.post-image {
  width: 100%;
  height: auto;
  margin-top: 15px;
  object-fit: contain;
}
.post__text {
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.post__footer {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 14px;
  line-height: 28px;
}
.post__views {
  display: flex;
  align-items: center;
  gap: 5px;
}
.views-image {
  width: 16px;
  height: 16px;
}
.post__tags {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.post__comment {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comment-btn {
  margin: 1rem 0;
}
.image-comment-btn {
  width: 32px;
  height: 32px;
}
.comment-avatar {
  display: flex;
  align-items: center;
  line-height: 0;
}
.comments-text {
  margin-top: 20px;
}
